<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.doobie.archpatterns">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".MainActivity">

        </activity>

        <activity
            android:name=".paramsandsavedstate.ParamsAndSavedStateActivity"
            android:label="Params and Saved State" />

        <activity
            android:name=".savedstate.SavedStateActivity"
            android:label="Saved State only" />

        <activity
            android:name=".imagelistanddetails.CardListActivity"
            android:label="List View">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>